version: "3.8"
services:
  db:
    # postgres://postgres:postgres@127.0.0.1:5432/postgres
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
